Logical operators 
1.and 
2.or
3.not

In [77]:
True and True

True

In [78]:
# Lets define two variables having boolean values True and False
start = True
stop = False

# print the values as it is 
print(f"Defined value of start ={start}")
print(f"defined value of stop ={stop}")

Defined value of start =True
defined value of stop =False

In [79]:
#prit the values as it is 

print(f"Defined value of start ={start}")
print(f"defined value of stop by negating start ={not start} \n")

# alternatively -
print(f"value of start by negating stop ={not stop}")
print(f"defined value of stop ={stop}")

Defined value of start =True
defined value of stop by negating start =False

value of start by negating stop =True
defined value of stop =False

In [80]:
not int(bool(1))

False

In [81]:
not 2

False

In [82]:
not -1

False

In [83]:
not 0

True

In [84]:
print(f"defined value of start ={start}")
print(f"defined value of stop ={stop}")

#if can also be writte as 
   
print(f"Defined value of start  = {start}")
print(f"value of stop ngating start ={int(not start)}")
# alternatively 
print(f"value of start by negating stop={int(not stop)}")
print(f"defined value of stop ={start} \n ")

defined value of start =True
defined value of stop =False
Defined value of start  = True
value of stop ngating start =0
value of start by negating stop=1
defined value of stop =True

In [85]:
zero=0
one=1

print(f"booleans value of no.{zero} is {bool(zero)}")
print(f" boolean value of no. {one} is {bool(one)}")
print(f"negation of {zero} is {not zero} and begation of {one} is{not one}")
print("\n # ---------------#\n")

booleans value of no.0 is False
 boolean value of no. 1 is True
negation of 0 is True and begation of 1 isFalse

 # ---------------#

In [86]:
Some_negative_integer=-5
Some_positive_integer=5
print(f"boolean value of no. {Some_negative_integer} is {bool(Some_negative_integer)}")
print(f"boolean value of no.{Some_positive_integer} is {bool(Some_positive_integer)}")
print(f"negation of {Some_negative_integer} is {not Some_negative_integer} and negation of {Some_positive_integer} is {not Some_positive_integer}")
print("\n #_______________________#")

boolean value of no. -5 is True
boolean value of no.5 is True
negation of -5 is False and negation of 5 is False

 #_______________________#

In [87]:
Some_positive_float=5.6
Some_negative_float=-5.6
print(f"boolean value of no. {Some_negative_float} is {bool(Some_negative_float)}")
print(f"boolean value of no. {Some_positive_float} is {bool(Some_positive_float)}")
print(f"negation of {Some_negative_float} is { not Some_negative_float} and negation of { Some_positive_float} is {not Some_positive_float}")

boolean value of no. -5.6 is True
boolean value of no. 5.6 is True
negation of -5.6 is False and negation of 5.6 is False

#### Logical and

In [88]:
VEGETABLES=True
SALT=False
DISH = VEGETABLES and SALT
print(f"Dish contains vegetables :{ VEGETABLES}")
print(f"Dish contains SALT : { SALT}")
print(f"hence dish prepared was good: {DISH} \n ")

Dish contains vegetables :True
Dish contains SALT : False
hence dish prepared was good: False

In [89]:
False*False

0

In [90]:
lst_a=[1,2,3,4]
lst_b=[1,2,3,4]
print(lst_a)

[1, 2, 3, 4]

In [91]:
print(id(lst_a))
print(id(lst_b))

1865864609024
1865853146688

In [92]:
lst_a is lst_b

False

In [93]:
lst_a=lst_b
lst_a is lst_b

True

In [94]:
a=2
b=2
print(id(a))
print(id(b))

1865779773712
1865779773712

In [95]:
str1="krish"
str2="krish" 
print(id(str1))
print(id(str2))

1865863902448
1865863902448

In [96]:
lst_a

[1, 2, 3, 4]

In [97]:
str1

'krish'

In [98]:
str1[0]='N'

TypeError: 'str' object does not support item assignment

In [ ]:
maxium_speed_of_bike=150
max_speed_of_car=200
print(f"bike is faster than car:{maxium_speed_of_bike>=max_speed_of_car}")

bike is faster than car:False

## Arithmethic Operations
|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|

In [ ]:
a=200
b=3

In [ ]:

a/b

66.66666666666667

In [ ]:
a//b

66

In [ ]:
b//a

0

In [ ]:
## display the remainder
a%b

2

### Bitwise operators
|Operation|meaning|
|:-:|:-:|
| **~** | bitwise complement (prefix unaray operator) |
| **&** | bitwise and|
| **\|**| bitwise or |
| **^** | bitwise exclusive or |
| **<<**| shift bits left , filling in with zeros |
| **>>**| shift bits right, filling in with sign bit |

In [ ]:
var = 10
bin(var)

'0b1010'

In [ ]:
~var

-11

In [ ]:
var>>3

1

# string

In [ ]:
str1="welcome to the data science masters"

In [ ]:
type(str)

str

In [ ]:
## immutable
str1[0]=10

TypeError: 'str' object does not support item assignment

In [ ]:
welcome="hello world"

In [ ]:
dir(welcome)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
string="pw skill data science"

In [ ]:
string[5]

'i'

In [ ]:
## slice operation 
string[5:11]

'ill da'

In [ ]:
string[-1]

'e'

In [ ]:
string[-3]

'n'

In [ ]:
string[-3:-7]

''

In [ ]:
string[-7:-3]

'scie'

In [ ]:
string

'pw skill data science'

In [ ]:
string[5:-7]

'ill data '

In [ ]:
string[1:-1:2]

'wsildt cec'

In [ ]:
string[:-1]

'pw skill data scienc'

In [ ]:
string[:]

'pw skill data science'

In [28]:
course_name = "data science master"

In [ ]:
name="soul celestia"

In [ ]:
name[-4:13]

'stia'

In [ ]:
string[::-2]

'enisaa lk p'

In [ ]:
string[::-1]

'ecneics atad lliks wp'

In [ ]:
string[::5]

'piace'

In [ ]:
name

'soul celestia'

In [ ]:
name[::-2]

'atee us'

In [ ]:
name[3:0:-1]

'luo'

In [ ]:
name[::-1]

'aitselec luos'

In [ ]:
course_name

'data science master'

In [ ]:
course_name[12:4:-2]

' cec'

In [ ]:
course_name[12:2:-1]

' ecneics a'

In [ ]:
## concatentation
course_name + "course"

'data science mastercourse'

In [ ]:
print("hello" + "world")

helloworld

In [ ]:
course_name*5

'data science masterdata science masterdata science masterdata science masterdata science master'

In [ ]:
len(course_name)

19

## find function

In [ ]:
## find function 
course_name.find("n")

9

## count()

In [ ]:
course_name.count('a')

3

In [ ]:
course_name.count(' ')

2

In [ ]:
course_name.count('')

20

In [103]:
course_name.isspace()

False

In [105]:
course_name.endswith('r')

True

In [107]:
print(course_name.endswith('r'))

True

In [109]:
course_name.split(' ')

['data', 'science', 'master']

In [110]:
course_name.split('s')

['data ', 'cience ma', 'ter']

In [111]:
course_name.splitlines()

['data science master']

In [114]:
course_name.index('s')

5

In [26]:
## Assignments 
size = int (input("enter the triangle length:"))
for i in range(size):
    for j in range(size-i):
        print("",end=" ")
    for k in range(i+1):
        print("*",end=" ") 
    # for m in range(k-1):
    #     print("*", end="")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [29]:
course_name.upper()

'DATA SCIENCE MASTER'

In [38]:
## solution 2
n =10
for i in range(n):
    print(" "*(n-i),end="")
    for j in range (i*2+1):
        print("*", end ="")
    print()

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************